@import 'mixins.scss';

.tab-bar-item {
  height: 0;
  overflow: hidden;
  margin: 0 auto;
  border-bottom: 1px solid transparent;
  cursor: pointer;

  &.active {
    height: auto;
  }

  &__span {
    display: block;
    @include font($color: #333333, $size: 24px, $height: 28px, $weight: 600);
    line-height: 28px;
  }

  &__new-products {
    height: 420px;
  }

  &__new {
    display: inline-flex;
    margin: 15px auto;
  }

  &__genres {
    width: 280px;
    display: flex;
    margin: 15px 0;
    height: 228px;
    text-align: center;
    @include font($weight: normal, $size: 48px, $height: 57px);

  &_emoji_message {
    @include font($weight: normal, $size: 20px, $height: 24px, $color: #FFFFFF);
  }


    &_comedy {
      justify-content: center;
      background: linear-gradient(136.27deg, #F2C94C 8.44%, #F29A4A 91.36%);
      border-radius: 6px;
      opacity: .8
    }

    &_comedy:hover {
      opacity: 1;
    }

   &_drama {
      background: linear-gradient(136.27deg, #F2994A 8.44%, #EB5757 91.36%);
      opacity: .8;
      border-radius: 6px;
    }

    &_drama:hover {
      opacity: 1;
    }

    &_fantastic {
      background: linear-gradient(136.27deg, #56CCF2 8.44%, #2F80ED 91.36%);
      opacity: .8;
      border-radius: 6px;
    }

    &_fantastic:hover {
      opacity: 1;
    }

    &_scary {
      background: linear-gradient(136.27deg, #828282 8.44%, #333333 91.36%);
      opacity: .8;
      border-radius: 6px;
    }

    &_scary:hover {
      opacity: 1;
    }
  }

  &__channels {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}

.list-group-layout__figure {
  width: 280px;
  height: 100%;
}

.list-group-layout__figure_message_genres {
  margin: 0 auto;
  @include font($weight: normal, $size: 32px, $height: 46px, $color: #FFFFFF);
}

.list-group-item__image {
  margin: 0 auto;
}

.list-group-layout__figure_hover-message {
  position: absolute;
  opacity: 0;
  width: 248px;
  height: 338px;
  padding: 16px;
  border-radius: 8px;
  @include font($weight: normal, $size: 16px, $height: 22px, $color: #F2F2F2);
}

.list-group-layout__figure_hover-message:hover {
  background-color: rgba(51, 51, 51, 0.8);
  opacity: 1;
}

.list-group-item__channel-image {
  background: #F2F2F2;
  border-radius: 8px;
  height: 162px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}

.list-group-item__grid-table {
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.list-group-item__grid-table_ul {
  list-style-type: none;
}

.list-group-item__grid-table_ul-li {
  padding: 6px 0;
  @include font($size: 16px, $height: 19px, $color: #333333);
}

.list-group-item__grid-table_span {
  padding-left: 10px;
  @include font($size: 20px, $height: 24px, $weight: 600, $color: #333333);
}



