@import "mixins.scss";

.nav-item {
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #FFF;
  border: none;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  outline: none;
  text-transform: none;
  text-align: right;
  @include font($color: #333333, $size: 28px, $height: 33px, $weight: 600);
}

.nav-item.active {
  border-bottom: 2px solid #E5261E;
  color: #E5261E;
}

.vertical .nav-item {
  border-radius: 5px 0 0 5px;
}

.nav-item.active {
  border-bottom: 2px solid #E5261E;
  color: #E5261E;
  background-color: #FFFFFF;
}