.tab-bar-nav {
  margin: 0 auto;
  justify-content: space-around;
  width: 22%;
  position: relative;
  display: flex;

}

.tab-container {
  margin: 0 auto;
  width: 82%;
  padding: 5px;
  min-height: 100px;
  position: relative;
}

.vertical.tab-bar {
  display: flex;
  align-items: stretch;
}

.vertical .tab-bar-nav {
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 0 30%;
}

.vertical .tab-container {
  box-sizing: border-box;
  flex: 1 0 70%;
  top: 0;
}

.vertical .tab-container {
  min-height: 200px;
  border-radius: 0 5px 5px 0;
}
