.tab-bar {
  z-index: 1;
}

.tab-bar-nav {
  z-index: 5;
  margin: 0 auto;
  width: 22%;
  display: flex;
}

.tab-container {
  margin: 5px auto;
  height: 790px;
  width: 85%;
  position: relative;
  overflow: auto;
}

.vertical.tab-bar {
  display: flex;
  align-items: stretch;
}

.vertical .tab-bar-nav {
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 0 30%;
}

.vertical .tab-container {
  box-sizing: border-box;
  flex: 1 0 70%;
  top: 0;
}

.vertical .tab-container {
  min-height: 200px;
  border-radius: 0 5px 5px 0;
}
